*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


#slider{

  width: 80vw;
  height: 25vw;

  max-width: 500px;

  position: relative;
  left: 0;
  
  
 
  img{
    opacity: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: cover;
   
   
  }
  
  .selected{
    opacity: 1; 
  }
}

}